
:root {
    --bg-color:  #bdbcbc;
    --text-color: #f7f7f7;
    --main-color: #949494;
}
body{
    background: var(--bg-color) ;
    
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    text-align: center;
}
.tieude{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.logo img{ 
    width: 120px; 
    height: auto;    
    margin-left: 90px;
    margin-top: 25px;
    border-radius: 10px;
}
.imagefage{
    border-radius: 30px;
    
}

.nav-conrainer{
    background-color:var(--bg-color);
    position: fixed;
    width:100%;
}
.sreach{
    text-align: end;
    top:  20px;
    position: absolute;
    right: 91px;
}
.sreach img{
    height: 29px;
    position: absolute;
    top:5px
}

input{
    border-radius: 15px;
    padding-left: 25px;
    height: 25px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #d8d7d7; 
    font-family: "Montserrat", serif;
}

.nav-conrainer .logo{
    text-align: start;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
    font-size: 25px;
    margin-bottom: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}
nav ul li a:hover {
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}
.dropdown-content a{
    color: #000000;
    padding: 10px ;
}
.dropdown-content a:hover{
    color: #fffafa;
}

.sub-service{
    background-color: rgb(226, 226, 226);
    color: black;    
    border-radius: 10px;
    padding: 6px;
    position: absolute;
    width: 120px;
    display: none; 
}
.item:hover .sub-service{
    display: block;
}
.product-card img{
    height: 265px;
    width: 270px;
    border-radius: 5px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    border-radius: 15px;
}
.product-card{
    padding: 3px;
     background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
    display: inline-block;  
    margin: 5px;
    margin-top: 10px;
}
.imagefage {
    overflow: hidden; /* Đảm bảo nội dung thừa không tràn */
}
.product-card__actions button{
    height: 50px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 35px;
    transition: 0.3s linear;
    font-family: "Montserrat", serif;
}
.product-card__actions button:hover{
   background-color: #000000;
   color: white;
}


.product-tag__sale{
    text-decoration: line-through;
}
.product-card__info p {
    display: inline-block;
}
.menu{
    position: absolute;
    top: 15px;
    right: 10px;
}
.menu img{
    height: 25px;
    width: 25px;
    margin: 13px;
}









































  





   

